html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --dark-jungle-green: #1a1f16;
  --forest-green-traditional: #1e3f20;
  --magic-mint: #94ecbe;
}

/* body styles for mobile */
body {
  margin: 0px;
  font-family: Georgia, Avenir Light, "Times New Roman", Times, serif;
  font-size: 1rem;
  width: 0;
  min-width: 100%;
}

/* h1 style for mobile */
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}

h2 {
  font-family: Avenir, "Times New Roman", Times, serif;
  font-size: 1rem;
}

h3 {
  font-family: Avenir light, "Times New Roman", Times, serif;
  font-size: 0.8rem;
}

ul {
  font-family: Avenir Light, "Times New Roman", Times, serif;
  font-size: 0.75rem;
}

/* Container that wraps the body */
.body-container {
  width: 90%;
  margin: auto;
  max-width: 720px;
  text-align: left;
}

/* Navagation Bar section*/
.nav-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* This wraps the home, bars and x parts of the navbar */
.nav-item-top {
  background-color: #1a1f16;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.home {
  padding: 20px 20px;
  text-decoration: none;
  font-size: x-large;
  color: aliceblue;
}

#bars-open {
  color: aliceblue;
  font-size: x-large;
  padding: 20px 20px;
  display: inline-block;
}

#bars-open.hide {
  display: none;
}

#x-close.show {
  display: inline-block;
}

#x-close {
  color: aliceblue;
  font-size: x-large;
  padding: 20px 20px;
  display: none;
}

/* Color change on hove for home, bars, and x of the navbar */
.home:hover,
#bars-open:hover,
#x-close:hover {
  color: var(--magic-mint);
}

/* Styles for other navBar items*/
.nav-item {
  font-size: x-large;
  padding: 10px 20px;
  text-decoration: none;
  color: aliceblue;
  width: 100%;
  display: none;
  position: relative;
  user-select: none;
}

.nav-item.show {
  display: inherit;
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.one {
  display: inherit;
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.two {
  display: inherit;
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.three {
  display: inherit;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.four {
  display: inherit;
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}

/* Keyframes work with the animation */
@keyframes wipe-in-left {
  from {
    right: -100%;
    z-index: -1;
  }
  to {
    background-color: var(--forest-green-traditional);
    right: 0%;
    z-index: -1;
  }
}

/* color change and outline for the rest of the navBar */
.nav-item:nth-child(n + 2):hover {
  color: var(--magic-mint);
  outline: 1px solid var(--magic-mint);
  outline-offset: -1.5px;
}

/* Section for about me */
.section:first-of-type {
  padding-top: 100px;
}

/* General css for sections */
.section {
  display: inline-block;
  padding-top: 200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.skill-container,
.education-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* table for skill section */
table {
  padding: 20px 20px 20px 0;
  margin-bottom: 20px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--magic-mint);
  padding: 5px;
}

tr:nth-child(even) {
  background-color: var(--magic-mint);
}

figure {
  margin: auto;
}

.picture,
.second-picture {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 8px;
}

.second-picture {
  display: none;
}

video {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 8px;
  user-select: none;
}

/* Slideshow for projects */
.slideshow-pad {
  padding-bottom: 50px;
}

.slideshow-container {
  max-width: 720px;
  max-height: auto;
  position: relative;
  margin: auto;
}

.projectSlides {
  display: none;
}

.project-img {
  width: 100%;
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 8px;
}
.numbertext {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: larger;
}

.text {
  position: absolute;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  bottom: 8px;
}

.dot-container {
  text-align: center;
}

.dots {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  color: var(--dark-jungle-green);
  width: auto;
  margin-top: -22px;
  padding: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: x-large;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* form area */
.form-section {
  width: 100%;
  padding-bottom: 20px;
}

form {
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 8px;
  padding: 5px;
  border-radius: 4px;
}

/* grid area for form */
.grid-contact {
  display: grid;
  gap: 10px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "email"
    "message"
    "submit"
    "reset";
}

.name {
  grid-area: name;
  border-radius: 4px;
}

.email {
  grid-area: email;
  border-radius: 4px;
}

.message {
  grid-area: message;
  border-radius: 4px;
}

.submit {
  color: aliceblue;
  background-color: #1e3f20;
  grid-area: submit;
  border-radius: 4px;
}

.reset {
  color: aliceblue;
  background-color: #1e3f20;
  grid-area: reset;
  border-radius: 4px;
}

footer {
  width: 100%;
  height: 75px;
  text-align: left;
  margin-top: 25px;
  color: var(--forest-green-traditional);
  border-top: 2px solid var(--forest-green-traditional);
  background-color: var(--magic-mint);
}

footer p {
  padding: 10px 20px;
}

/* media for larger viewing */
@media screen and (min-width: 620px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-family: Avenir, "Times New Roman", Times, serif;
    font-size: 2rem;
  }
  h3 {
    font-family: Avenir light, "Times New Roman", Times, serif;
    font-size: 1.5rem;
  }

  ul {
    font-family: Avenir Light, "Times New Roman", Times, serif;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
  }

  .skill-container,
  .education-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Navagation Bar section for larger viewing */
  .nav-container {
    background-color: #1a1f16;
    flex-direction: row;
  }

  #bars-open,
  #x-close,
  #x-close.show {
    display: none;
  }

  .nav-item-top {
    background-color: var(--dark-jungle-green);
    width: auto;
  }

  .nav-item {
    background-color: var(--dark-jungle-green);
    display: inline;
    padding: 20px 10px;
    width: auto;
  }

  /* slideshow for larger viewing*/
  .numbertext {
    font-size: x-large;
  }

  .text {
    font-size: x-large;
  }

  .dots {
    height: 25px;
    width: 25px;
    margin: 0 5px;
  }

  .prev,
  .next {
    padding: 15px;
    font-size: 55px;
    margin-top: -32px;
  }

  /* Form section for larger viewing */
  .grid-contact {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "message message"
      "submit reset";
  }
}
