html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  overflow-x: hidden;
}

:root {
  --dark-jungle-green: #1a1f16;
  --forest-green-traditional: #1e3f20;
  --magic-mint: #94ecbe;
}

/* body styles for mobile */
body {
  margin: 0px;
  font-family: Avenir, Avenir Light, "Times New Roman", Times, serif;
  font-size: 1rem;
  width: 0;
  min-width: 100%;
}
/* h1 style for mobile */
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}

h2 {
  font-family: Avenir, "Times New Roman", Times, serif;
  font-size: 1rem;
}

h3 {
  font-family: Avenir light, "Times New Roman", Times, serif;
  font-size: 0.8rem;
}

ul {
  font-family: Avenir Light, "Times New Roman", Times, serif;
  font-size: 0.75rem;
}

/* Container that wraps the body */
.body-container {
  text-align: center;
  width: 90%;
  margin: auto;
  max-width: 720px;
}

/* Navagation Bar section*/
.nav-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-item-top {
  background-color: #1a1f16;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.home {
  padding: 30px 20px;
  text-decoration: none;
  font-size: x-large;
  color: aliceblue;
}

.nav-item {
  font-size: x-large;
  padding: 10px 20px;
  text-decoration: none;
  color: aliceblue;
  width: 100%;
  display: none;
  position: relative;
}

.nav-item.show {
  display: inherit;
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.one {
  display: inherit;
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.two {
  display: inherit;
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.three {
  display: inherit;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}
.nav-item.show.four {
  display: inherit;
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}

/* Keyframes work with the animation */
@keyframes wipe-in-left {
  from {
    right: -100%;
    z-index: -1;
  }
  to {
    background-color: var(--forest-green-traditional);
    right: 0%;
    z-index: -1;
  }
}

#bars-open {
  color: aliceblue;
  font-size: x-large;
  padding: 30px 20px;
  display: inline-block;
}

#bars-open.hide {
  display: none;
}

#x-close.show {
  display: inline-block;
}

#x-close {
  color: aliceblue;
  font-size: x-large;
  padding: 30px 20px;
  display: none;
}

.home:hover,
#bars-open:hover,
#x-close:hover {
  color: var(--magic-mint);
}

.nav-item:nth-child(n + 2):hover {
  color: var(--magic-mint);
  outline: 1px solid var(--magic-mint);
  outline-offset: -1.5px;
}

/* Section for about me */
.section:first-of-type {
  padding-top: 100px;
}

/* General css for sections */
.section {
  display: inline-block;
  padding-top: 200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.skill-container,
.education-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ul-skills {
  background-color: var(--magic-mint);
  color: var(--dark-jungle-green);
  padding: 10px;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

figure {
  margin: auto;
}

.picture,
.second-picture {
  width: 100%;
  border-radius: 8px;
  height: auto;
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 8px;
}

.second-picture {
  display: none;
}

video {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 8px;
}
/* form area */
.form-section {
  width: 100%;
  padding-bottom: 20px;
}

form {
  padding: 5px;
  background-color: var(--magic-mint);
  border-radius: 4px;
}

/* grid area for form */
.grid-contact {
  display: grid;
  gap: 10px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "email"
    "message"
    "submit"
    "reset";
}

.name {
  grid-area: name;
  border-radius: 4px;
}

.email {
  grid-area: email;
  border-radius: 4px;
}

.message {
  grid-area: message;
  border-radius: 4px;
}

.submit {
  color: aliceblue;
  background-color: #1e3f20;
  grid-area: submit;
  border-radius: 4px;
}

.reset {
  color: aliceblue;
  background-color: #1e3f20;
  grid-area: reset;
  border-radius: 4px;
}

footer {
  width: 100%;
  height: 75px;
  text-align: center;
  margin-top: 25px;
  color: var(--forest-green-traditional);
  border-top: 2px solid var(--forest-green-traditional);
  background-color: var(--magic-mint);
}

/* media for larger viewing */
@media screen and (min-width: 620px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-family: Avenir, "Times New Roman", Times, serif;
    font-size: 2rem;
  }
  h3 {
    font-family: Avenir light, "Times New Roman", Times, serif;
    font-size: 1.5rem;
  }

  ul {
    font-family: Avenir Light, "Times New Roman", Times, serif;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
  }

  .ul-skills {
    padding: 5px;
    border-radius: 8px;
  }

  .skill-container,
  .education-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Navagation Bar section for larger viewing */
  .nav-container {
    background-color: #1a1f16;
    flex-direction: row;
    justify-content: center;
  }

  #bars-open,
  #x-close,
  #x-close.show {
    display: none;
  }

  .nav-item-top {
    background-color: var(--dark-jungle-green);
    width: auto;
  }

  .nav-item {
    background-color: var(--dark-jungle-green);
    display: inline;
    padding: 30px 20px;
    width: auto;
  }

  /* Form section for larger viewing */
  .grid-contact {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "message message"
      "submit reset";
  }
}
